In [1]:
type(10)

int

In [2]:
type(10.0)

float

In [3]:
type(True)

bool

In [4]:
type("Hello python")

str

In [5]:
type([1,2,3,4])

list

In [6]:
type((1,2,3,4))

tuple

In [7]:
type({1,2,3,4})

set

In [10]:
type({
    'name':'TJ',
    'height':'174'
})

dict

In [11]:
3**3

27

In [12]:
10//3

3

In [13]:
10%3

1

In [14]:
10+1*3

13

In [16]:
10+2*3//2

13

In [17]:
a,b=7,3.0

#code
c=a//b
d=a%b

e=a**b

print(c,d,e)
#code end

2.0 1.0 343.0

In [18]:
True

True

In [19]:
type(True)

bool

In [20]:
print(10 != 10)

False

In [21]:
True and True

True

In [22]:
False and False

False

In [23]:
True or True

True

In [24]:
not True

False

In [25]:
5>10 and 20==20

False

In [26]:
5==5 or 10!=10

True

In [29]:
num1=int(input("입력1 : "))
num2=int(input("입력2 : "))
num3=int(input("입력3 : "))

num1>65 and num2>65 and num3>65

입력1 : 90
입력2 : 90
입력3 : 90

True

In [31]:
first = "hello world"
multi = """Hello, World
Hello, Python"""

print(first)
print(multi)

hello world
Hello, World
Hello, Python

In [32]:
"과일" + "사과"

'과일사과'

In [33]:
'과일'*3

'과일과일과일'

In [34]:
print("hi \nfriend")

hi
friend

In [35]:
print("hi \tprint")

hi 	print

In [36]:
print("hi \\friend")

hi \friend

In [37]:
print("hi \"print")

hi "print

In [39]:
s="hello world"

s[0]

'h'

In [40]:
s[1]

'e'

In [41]:
s[:5]

'hello'

In [42]:
s[6:]

'world'

In [43]:
s[5:8]

' wo'

In [44]:
s[1:6:3]

'eo'

In [45]:
s[:5:2]

'hlo'

In [46]:
s[-1]

'd'

In [49]:
s[:-1]

'hello worl'

In [50]:
name="dkfdkdjfdk"
print("I am"+name+"i")

I amdkfdkdjfdki

In [52]:
print("I am %s!"%name)

I am dkfdkdjfdk!

In [54]:
print("I am %30s!"%name)

I am                     dkfdkdjfdk!

In [56]:
print("I am %-30s!"%name)

I am dkfdkdjfdk                    !

In [57]:
f1,f2="apple","banana"
print("I like %s, %s!!"%(f1,f2))

I like apple, banana!!

In [58]:
n1,n2=3,3.2323
print("n1=%d, n2=%f"%(n1,n2))

n1=3, n2=3.232300

In [59]:
print("n2=%.2f" %n2)

n2=3.23

In [60]:
"I like {0},{1} !!".format("apple", "banana")

'I like apple,banana !!'

In [61]:
f1,f2,f3="a","b","c"
"I like {0},{2},{1}".format(f1,f2,f3)

'I like a,c,b'

In [62]:
"Number {0:>10}".format(100)

'Number        100'

In [63]:
"Number {0:<10}".format(100)

'Number 100       '

In [64]:
"Number {0:*>10}".format(100)

'Number *******100'

In [65]:
"Number {0:!^10}".format(100)

'Number !!!100!!!!'

In [66]:
math=90
english=90
science=10239

print(f"수학점수:{math}\n영어점수:{english:-^10}\n과학점수:{science}")

수학점수:90
영어점수:----90----
과학점수:10239

In [69]:
a="20190505chiken19000"

#code
year=a[:4]
day=a[4:8]
menu=a[8:14]
money=a[14:]

print("%s\n%s\n%s\n%s"%(year,day,menu,money))

2019
0505
chiken
19000

In [70]:
a=[1,2,3,4,5,6,7,8]
b=[1,"apple",3,"123"]
c=[]
d=list()
at=(1,2,3,4,5,6,7)

In [72]:
a=list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
a=list(range(1,11))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
a=tuple(range(10))
print(a)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [76]:
a=list(range(-10,10,2))
print(a)

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [77]:
a=list(range(5,0,-1))
print(a)

[5, 4, 3, 2, 1]

In [79]:
a=[1,2,3,4,5]
tuple(a)

(1, 2, 3, 4, 5)

In [80]:
type(a)

list

In [83]:
a=(1,2,3,4,5)
type(a)
a[1]=100

TypeError: 'tuple' object does not support item assignment

In [84]:
a=[1,2,3,4,5]
1 in a

True

In [85]:
6 in a

False

In [86]:
a=[1,2,3,4,5]
b=[6,7,8,9]
a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [88]:
a=[1,2,3]
len(a)

3

In [89]:
a=[1,2,3,4,5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [91]:
a.extend([7,8])
a

[1, 2, 3, 4, 5, 6, 7, 8, 7, 8]

In [93]:
a=[1,2,3]
a.insert(2,100)
print(a)

[1, 2, 100, 3]

In [94]:
a.pop(0)
a

[2, 100, 3]

In [95]:
a.pop()
a

[2, 100]

In [96]:
a=[100,200,300]
a.remove(200)
a

[100, 300]

In [97]:
a.remove(20132)
a

ValueError: list.remove(x): x not in list

In [99]:
a=list(range(5,0,-1))
a

[5, 4, 3, 2, 1]

In [100]:
a.index(2)

3

In [101]:
a.index(5)

0

In [103]:
a.count(3)

1

In [105]:
a.reverse()
a

[5, 4, 3, 2, 1]

In [106]:
b=[1,2,3]
b.reverse()
b

[3, 2, 1]

In [108]:
a=[3,2,1,4]
a.sort()
a

[1, 2, 3, 4]

In [109]:
a.sort(reverse=True)
a

[4, 3, 2, 1]

In [110]:
a=[1,2,3,4,5]
b=a
a is b

True

In [111]:
b[0]=1000
print(a)

[1000, 2, 3, 4, 5]

In [112]:
b=a.copy()
a is b

False

In [114]:
b[0]=1502
print(a)
print(b)

[1000, 2, 3, 4, 5]
[1502, 2, 3, 4, 5]

In [115]:
a=[[1,2],[2,3],[3,4]]
a[0][1]

2

In [116]:
a[2][0]

3

In [117]:
import copy
b=copy.deepcopy(a)
b[0][0]=10
print(a)
print(b)

[[1, 2], [2, 3], [3, 4]]
[[10, 2], [2, 3], [3, 4]]

In [118]:
c=b
c[0][1]=110203
print(b)

[[10, 110203], [2, 3], [3, 4]]

In [120]:
score={
    "name":"dkdkdk",
    "math":80,
    "english":80
}
score["name"]

'dkdkdk'

In [121]:
type(score)

dict

In [122]:
score2=dict()
type(score2)

dict

In [123]:
"math" in score

True

In [124]:
"Age" in score

False

In [125]:
len(score)

3

In [126]:
score.setdefault("age",20)

20

In [127]:
"age" in score

True

In [128]:
score.update({"age":10239})
score

{'name': 'dkdkdk', 'math': 80, 'english': 80, 'age': 10239}

In [129]:
score.pop("name")

'dkdkdk'

In [130]:
score

{'math': 80, 'english': 80, 'age': 10239}

In [131]:
score.pop("age",0)

10239

In [132]:
score.clear()

In [133]:
score

{}

In [139]:
score.setdefault("math",100)

100

In [140]:
score

{'math': 100}

In [141]:
score.setdefault(("english",200),("hello","World"))

('hello', 'World')

In [142]:
score

{'math': 100, ('english', 200): ('hello', 'World')}

In [143]:
score.keys()

dict_keys(['math', ('english', 200)])

In [144]:
score.values()

dict_values([100, ('hello', 'World')])

In [145]:
score.items()

dict_items([('math', 100), (('english', 200), ('hello', 'World'))])

In [146]:
score.setdefault(True,[1,2,3,4,5])

[1, 2, 3, 4, 5]

In [147]:
b=score.copy()
b

{'math': 100, ('english', 200): ('hello', 'World'), True: [1, 2, 3, 4, 5]}

In [149]:
score.setdefault(False, {"a":"apple","b":"banana"})

{'a': 'apple', 'b': 'banana'}

In [150]:
score

{'math': 100,
 ('english', 200): ('hello', 'World'),
 True: [1, 2, 3, 4, 5],
 False: {'a': 'apple', 'b': 'banana'}}

In [151]:
c=score.copy()

In [152]:
c

{'math': 100,
 ('english', 200): ('hello', 'World'),
 True: [1, 2, 3, 4, 5],
 False: {'a': 'apple', 'b': 'banana'}}

In [153]:
d=copy.deepcopy(score)
d

{'math': 100,
 ('english', 200): ('hello', 'World'),
 True: [1, 2, 3, 4, 5],
 False: {'a': 'apple', 'b': 'banana'}}

In [154]:
print(year,day,menu,money,sep="mm")

2019mm0505mmchikenmm19000

안녕하세요