# 집합(set)

In [1]:
세트={'값1','값2','값3', '값4'}
print(세트)

{'값4', '값2', '값3', '값1'}

In [2]:
type(세트)

set

In [3]:
a=set("animal")
a

{'a', 'i', 'l', 'm', 'n'}

In [6]:
a={1,2,3}
b={3,4,5}
print(a|b)
print(set.union(a,b))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [7]:
a={1,2,3}
b={3,4,5}
a&b

{3}

In [8]:
set.intersection(a,b)

{3}

In [9]:
a-b

{1, 2}

In [10]:
set.difference(a,b)

{1, 2}

In [11]:
a^b

{1, 2, 4, 5}

In [12]:
set.symmetric_difference(a,b)

{1, 2, 4, 5}

In [2]:
a={1,2,3,4}
a<={1,2,3,4,5}

True

In [3]:
a.issubset({1,2,3,4,5})

True

In [4]:
a<={1,2,3}

False

In [5]:
a.issubset({1,2,3})

False

In [6]:
a>={1,2,3}

True

In [7]:
a.issuperset({1,2,3})

True

In [8]:
a>={1,2,3,4,5}

False

In [9]:
a.isdisjoint({5,6,7,8})

True

In [10]:
a.isdisjoint({2,3,4,5})

False

In [11]:
a.add(5)

In [12]:
a

{1, 2, 3, 4, 5}

In [13]:
a.remove(1)

In [14]:
a.discard(2)

In [15]:
a

{3, 4, 5}

In [19]:
#숫자 입력, 변수 선언
score=input("숫자 세개 입력하세요(숫자 숫자 숫자) : ").split()
score_error=0

#조건 확인
for i in score:    
    if int(i)<0 or int(i)>100:
        score_error=2
        break
    elif int(i)<65:
        score_error=1
        break

#결과 출력
if(score_error==2):
    print("잘못된 점수가 입력되었습니다.")
elif(score_error==1):
    print("불합격")
elif(score_error==0):
    print("합격")
else:
    print("오류 발생")

숫자 세개 입력하세요(숫자 숫자 숫자) : 101 67 69
잘못된 점수가 입력되었습니다.

In [20]:
x=[3,6,9,20,-7,5]

for idx,val in enumerate(x):
    x[idx]*=10
    print(x[idx])

print(x)

30
60
90
200
-70
50
[30, 60, 90, 200, -70, 50]

In [21]:
y={"math":70, "science":80, "english":20}

for i in y:
    y[i]+=10
    print(y[i])
    
print(y)

80
90
30
{'math': 80, 'science': 90, 'english': 30}

In [23]:
num=int(input("숫자 입력 : "))

for i in range(1, 10):
    print(f"{num} * {i} = {num*i}")

숫자 입력 : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [24]:
word=["school","game","piano","science","hotel","mountian"]
new_word=list()

for i in word:
    if len(i)>=6:
        new_word.append(i)
        
print(new_word)

['school', 'science', 'mountian']

In [2]:
for i in range(1,10,3):
    for j in range(1, 10):
        for k in range(i,i+3):
            print(f"{k} * {j} = {k*j}",end="\t")
        print()
    print("--------------------------------------------------------")

1 * 1 = 1	2 * 1 = 2	3 * 1 = 3
1 * 2 = 2	2 * 2 = 4	3 * 2 = 6
1 * 3 = 3	2 * 3 = 6	3 * 3 = 9
1 * 4 = 4	2 * 4 = 8	3 * 4 = 12
1 * 5 = 5	2 * 5 = 10	3 * 5 = 15
1 * 6 = 6	2 * 6 = 12	3 * 6 = 18
1 * 7 = 7	2 * 7 = 14	3 * 7 = 21
1 * 8 = 8	2 * 8 = 16	3 * 8 = 24
1 * 9 = 9	2 * 9 = 18	3 * 9 = 27
--------------------------------------------------------
4 * 1 = 4	5 * 1 = 5	6 * 1 = 6
4 * 2 = 8	5 * 2 = 10	6 * 2 = 12
4 * 3 = 12	5 * 3 = 15	6 * 3 = 18
4 * 4 = 16	5 * 4 = 20	6 * 4 = 24
4 * 5 = 20	5 * 5 = 25	6 * 5 = 30
4 * 6 = 24	5 * 6 = 30	6 * 6 = 36
4 * 7 = 28	5 * 7 = 35	6 * 7 = 42
4 * 8 = 32	5 * 8 = 40	6 * 8 = 48
4 * 9 = 36	5 * 9 = 45	6 * 9 = 54
--------------------------------------------------------
7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
7 * 9 = 63	8 * 9 = 72	9 * 9 = 81
--------------------------------------------------------

In [5]:
num=int((input("숫자 입력 : ")))

for i in range(1,num+1):
    if i % 3== 0 and i % 5 == 0 :
        print(i, "3과 5의 공배수")
    
    elif i % 3 == 0 :
        print(i, "3의 배수")
        
    elif i % 5 == 0 :
        print(i, "5의 배수")
        
    else :
        print(i)

숫자 입력 : 20
1
2
3 3의 배수
4
5 5의 배수
6 3의 배수
7
8
9 3의 배수
10 5의 배수
11
12 3의 배수
13
14
15 3과 5의 공배수
16
17
18 3의 배수
19
20 5의 배수