In [1]:
def func(a,b):
    print("함수입니다.")
    return a+b

In [2]:
func_test=func(1,2)
print(func_test)

함수입니다.
3

In [3]:
func(5,4)

함수입니다.

9

In [4]:
def hello_world():
    print("Hello World")

In [7]:
a=hello_world()

Hello World

In [9]:
print(a)

None

In [10]:
type(a)

NoneType

In [11]:
def hello_name(name):
    print(f"hello {name}")

In [12]:
my_name="21932139"
a=hello_name(my_name)

hello 21932139

In [13]:
print(a)

None

In [14]:
def func_sum(num1, num2):
    return num1 + num2

In [15]:
a=func_sum(3,5)

In [16]:
a

8

In [17]:
import random

def make_lotto_numbers():
    return [random.randint(1,45) for x in range(6)]

In [19]:
lotto=make_lotto_numbers()

In [20]:
lotto

[35, 20, 41, 8, 38, 6]

In [21]:
a,b,c=1,2,5

In [22]:
def func():
    a=3
    b=4
    print(a,b,c)

In [24]:
func()

3 4 5

In [25]:
print(a,b)

1 2

In [28]:
def func2():
    a=5
    b=6
    
    func()
    
    print(a,b)

In [29]:
func2()

3 4 5
5 6

In [30]:
print(a,b)

1 2

In [31]:
def func2():
    global a
    a=50
    print(a)

In [32]:
func2()

50

In [33]:
a

50

In [34]:
def calc(a, b):
    print(f"덧셈: {a+b}, 뺄셈: {a-b}, 곱셈: {a*b}, 나눗셈: {a/b}")

In [35]:
calc(5,6)

덧셈: 11, 뺄셈: -1, 곱셈: 30, 나눗셈: 0.8333333333333334

In [36]:
def allindex(lis, num):
    index_list=list()
    
    for idx, val in enumerate(lis):
        if val==num :
            index_list.append(idx)
    
    return index_list

In [37]:
lis = [1,5,2,3,4,5,6,7]
print(allindex(lis,5))

[1, 5]

In [39]:
import math

def euclidean_distance(pos1, pos2):
    
    if type(pos1) != type(pos2) != type(list()):
        print("Error")
        return None
    
    total = 0
    for p1, q1 in zip(pos1, pos2):
        total += (p1-q1)**2
        
    return math.sqrt(total)

In [40]:
pos1, pos2=[0,0],[3,4]
euclidean_distance(pos1,pos2)

5.0

In [41]:
(lambda x : x**2)(3)

9

In [42]:
temp_func=lambda x,y : x*y
temp_func(3,9)

27

In [44]:
(lambda name : print(f"나의 이름은: {name}"))("알ㅇㄴ머ㅏ러ㅏㄹ")

나의 이름은: 알ㅇㄴ머ㅏ러ㅏㄹ

In [45]:
def func(a,b,c):
    print(a,b,c)
x=[1,2,3]
func(*x)

1 2 3

In [46]:
def func1(a,b,c):
    print(f"a: {a}, b:{b}, c:{c}")
    return a+b+c

In [47]:
func1(*[5,7,8])

a: 5, b:7, c:8

20

In [48]:
def func2(*args):
    print(type(args))
    
    print ("-"*10)
    
    for arg in args:
        print(arg)
        
    return sum(args)

In [51]:
func2(1,2,3,4)

<class 'tuple'>
----------
1
2
3
4

10

In [52]:
func2(*[1,2,3,4])

<class 'tuple'>
----------
1
2
3
4

10

In [53]:
def func3(a,b, *args):
    print(f"a: {a}, b: {b}")
    print("-"*10)
    
    for arg in args:
        print(arg)
        
    return sum(args+(a,b))

In [54]:
func3(1,2,1,2,3,4)

a: 1, b: 2
----------
1
2
3
4

13

In [55]:
def func(email, name):
    print("이메일 : ", email)
    print("이름 : ", name)

In [56]:
func(email = "dfa", name = "ttt")

이메일 :  dfa
이름 :  ttt

In [64]:
x={"email" : "tdf", "name":"tom"}
func(**x)

이메일 :  tdf
이름 :  tom

In [60]:
func("dfa","dfa")

이메일 :  dfa
이름 :  dfa

In [61]:
func("daf",name="fdsaf")

이메일 :  daf
이름 :  fdsaf

In [62]:
func(e="fads", "dfa")

SyntaxError: positional argument follows keyword argument (<ipython-input-62-601241eb94d6>, line 1)

In [66]:
def func1(a,b):
    print(a,b)

In [70]:
x={1:"b" , 2:"c"}
func1(**x)

TypeError: func1() keywords must be strings

In [73]:
def func5(**kwargs):
    print(type(kwargs))
    print("-" * 10)
    
    print(kwargs)
    
    print("이메일: ", kwargs['email'])
    print("이름: ", kwargs.get('name'))

In [74]:
func5(name="이동재", email="hello")

<class 'dict'>
----------
{'name': '이동재', 'email': 'hello'}
이메일:  hello
이름:  이동재

In [75]:
def last_func(name, email, address=None , age=20, *args, **kwargs):
    print("name: ", name)
    print("email: ", email)
    print("age: ", age)
    
    if address is None:
        address = "서울"
        
    print("address: ", address)
    
    print("-"*10, "args start")
    for arg in args:
        print(arg)
        
    print("-"*10, "kwargs start")
    for key in kwargs:
        print(key, kwargs[key])

In [76]:
last_func("ddsfad", "tad@daf.com", "seoul", "28", 3,4,5,6,is_korean=False, birth="1119")

name:  ddsfad
email:  tad@daf.com
age:  28
address:  seoul
---------- args start
3
4
5
6
---------- kwargs start
is_korean False
birth 1119

In [89]:
def calc(calc_sign, *args):
    first_num=args[0]
    if calc_sign == "+" :
        return sum(args)
    elif calc_sign == "-":
        return first_num-(sum(args[1:]))
    elif calc_sign == "*":
        for i in args[1:]:
            first_num*=i
            
        return first_num
    else:
        print("Error")
        return None

In [86]:
calc("+",3,4,5,2,3,4,4)

25

In [87]:
calc("-",100,2,3,4,5,5)

81

In [90]:
calc("*",2,3,4,5,6)

720

In [91]:
calc(1,2,3,4,5)

Error

In [92]:
def calc(*args):
    print(f"최대값 : {max(args)}, 최소값 : {min(args)}, 평균값 : {sum(args)/len(args)}")

In [93]:
calc(1,2,3,4,5,6,6)

최대값 : 6, 최소값 : 1, 평균값 : 3.857142857142857

In [94]:
class Dog:
    
    def __init__(self, name, color):
        self.name=name
        self.color = color
        self.hungry = 0
        
    def eat(self):
        self.hungry -= 10
        print("밥먹음", self.hungry)
        
    def walk(self):
        self.hungry += 10
        print("산책", self.hungry)

In [95]:
kk=Dog("kk","black")
jj=Dog("jj","white")

kk.walk()
kk.walk()
jj.eat

print("kk : ", kk.hungry)
print("jj : ", jj.hungry)

산책 10
산책 20
kk :  20
jj :  0

In [100]:
class Dog:
    
    def __init__(self, name, color):
        self.name=name
        self.color = color
        self.__hungry = 0
        
    def eat(self):
        if self.__hungry >=0:
            self.__hungry -= 10
            print("밥먹음", self.__hungry)
        
        else:
            print("배부름")
        
    def walk(self):
        self.__hungry += 10
        print("산책", self.__hungry)
        
    def condition(self):
        print(f"{self.name} 배고픔 : {self.__hungry}")

In [101]:
k=Dog("k","dd")
j=Dog("j","bb")

for i in range(10):
    k.eat()

for i in range(20):
    k.walk()

k.condition()

밥먹음 -10
배부름
배부름
배부름
배부름
배부름
배부름
배부름
배부름
배부름
산책 0
산책 10
산책 20
산책 30
산책 40
산책 50
산책 60
산책 70
산책 80
산책 90
산책 100
산책 110
산책 120
산책 130
산책 140
산책 150
산책 160
산책 170
산책 180
산책 190
k 배고픔 : 190

In [108]:
class Dog:
    
    dog_count=0
    
    def __init__(self, name, color):
        self.name=name
        self.color = color
        self.__hungry = 0
        
        Dog.dog_count+=1
        
    def eat(self):
        if self.__hungry >=0:
            self.__hungry -= 10
            print("밥먹음", self.__hungry)
        
        else:
            print("배부름")
        
    def walk(self):
        self.__hungry += 10
        print("산책", self.__hungry)
        
    def condition(self):
        print(f"{self.name} 배고픔 : {self.__hungry}")
        
    def dogCount(self):
        print("총 강아지는 : ", Dog.dog_count)

In [113]:
k=Dog("1","2")
d=Dog("1","2")
f=Dog("1","2")
g=Dog("1","2")
h=Dog("1","2")

h.dogCount()
d.dogCount()

총 강아지는 :  24
총 강아지는 :  24

In [136]:
class Calc:
    
    def add():
        return "hi"
    
    @staticmethod
    def sm():
        print("정적 메소드 입니당")
        pass
    
    def temp():
        pass

In [138]:
dir(Calc)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'add',
 'sm',
 'temp']

In [139]:
Calc.add()

'hi'

In [140]:
a=Calc()

In [158]:
#Car 클래스 생성
class Car:
    
    car_count = 0
    
    #Car 생성자 (차이름, 배기량, 생산년도), 직접 변경하지 못함
    def __init__(self, model, displacement, year):
        self.__model = model
        self.__displacement=displacement
        self.__year = year
    #객체 생성시 차량 갯수 등록
        Car.car_count +=1
    #차 이름 변경
    def modify_name(self, name):
        print(f"{self.__model} -> {name} 변경 완료")
        self.__model=name
        
    #배기량 구분
    def classify_displacement(self):
        if self.__displacement<=1000:
            print("소형")
        elif self.__displacement>1000 and self.__displacement<=2000:
            print("중형")
        elif self.__displacement>2000:
            print("대형")
    #차량 갯수 출력(클래스 함수)
    @classmethod
    def carCount(cls):
        print(cls.car_count)

In [159]:
a=Car("to",1000,2019)

In [160]:
a.modify_name("ttt")

to -> ttt 변경 완료

In [161]:
Car.carCount()

1

In [162]:
a.classify_displacement()

소형

In [163]:
b=Car("too",2500,2019)

In [164]:
b.classify_displacement()

대형

In [179]:
class MyCar(Car):
    
    def seater_check():
        print("4 인승 입니다.")

In [180]:
aa=MyCar("tttt",2000,2019)

In [181]:
MyCar.carCount()

4

In [182]:
MyCar.seater_check()

4 인승 입니다.