In [9]:
x=100
a,b,c=100,200,300

print(x)
print(a,b,c)

100
100 200 300

In [10]:
a+b

300

In [13]:
a=2
b=3
a**b

8

In [14]:
3*3.0

9.0

In [15]:
3+3.0

6.0

In [17]:
a,b=7,3.0
c=a//b
d=a%b

e=a**b

print(c,d,e)

2.0 1.0 343.0

In [22]:
mike=80
judy=75
sara=100

int((mike+judy+sara)/3)

85

In [23]:
1>=2

False

In [24]:
2>=1

True

In [25]:
1==1

True

In [26]:
'a'=='a'

True

In [27]:
'a'=='b'

False

In [28]:
1=='1'

False

In [29]:
1==int('1')

True

In [31]:
True and True

True

In [32]:
True or False

True

In [33]:
(1>2) and (2>-1)

False

In [34]:
not True

False

In [39]:
a,b=0,10
print(bool(a))
print(bool(b))

False
True

In [45]:
num1=int(input("입력1: "))
num2=int(input("입력2: "))
num3=int(input("입력3: "))

num1>65 and num2>65 and num3>65

입력1: 10
입력2: 80
입력3: 90

False

In [47]:
x=None
print(x)
type(x)

None

NoneType

In [53]:
first="Hello, World"
multi="""Hello, World,
Hello, Python"""
print(multi)
print(first)
print(type(first))
print(first+multi)
print(first*3)

Hello, World,
Hello, Python
Hello, World
<class 'str'>
Hello, WorldHello, World,
Hello, Python
Hello, WorldHello, WorldHello, World

In [54]:
multi2='''helelel
ejfjfjfj'''
print(multi2)

helelel
ejfjfjfj

In [59]:
print("hello \"friend")

hello "friend

In [66]:
s="hello world"
print(s[2])
print(s[:6])
print(s[6:])
print(s[::2])
print(s[1:6:3])
print(s[-1])
print(s[:-1])

l
hello
world
hlowrd
eo
d
hello worl

In [88]:
name ="아르아러홍너아"
print("나는 "+name+"!")
print("안녕 나는 %s!" % name)
print("나는 %10s!" %name)
print("나는 %-10s!"%name)
intro="나는 %20s!"
intro2="나는 %s!" %name
print(intro % name)
print(intro2)
print("%s%s"%(intro,name))

나는 아르아러홍너아!
안녕 나는 아르아러홍너아!
나는    아르아러홍너아!
나는 아르아러홍너아   !
나는              아르아러홍너아!
나는 아르아러홍너아!
나는 %20s!아르아러홍너아

In [87]:
score=80.666666
print("내 점수는 %d"%score)
#자동 형변환
print("내 점수는 %s"%score) #문자형
print("내 점수는 %f"%score) #실수형
print("내 점수는 %.3f"%score) #소수점 자릿수

내 점수는 80
내 점수는 80.666666
내 점수는 80.666666
내 점수는 80.667

In [90]:
print("%s%s%s"%('아','저','씨'))

아저씨

In [95]:
"{0}{1}{2}".format('아','줌','마')
quote="{1}은 {1}이 아니다".format("안경","답")
quote

'답은 답이 아니다'

In [98]:
print("....{0:>4}!".format("으아"))
print("....{0:<4}!".format("으아"))

....  으아!
....으아  !

In [99]:
name="라들거다비애차더"
city="서울"
intro=f"저는 {name}이고, {city}에서 삽니다."
intro

'저는 라들거다비애차더이고, 서울에서 삽니다.'

In [102]:
a="20190505chicken19000"

#code 작성
year=a[:4]
day=a[4:8]
menu=a[8:15]
money=a[15:]
print(year, day, menu, money,sep=", ")

#code 종료

2019, 0505, chicken, 19000

In [107]:
a="90:30:80"

#code
math=int(a[:2])
english=int(a[3:5])
science=int(a[6:8])

average=(math+english+science)/3
print("%.3f"%average)
#code end

66.667

In [112]:
a="dkdjrowdhcnkdsaflxzlxzvjasadfa"
print(len(a))
print(a.index('a'))
print(a.upper())
print(a.lower())
print(a.replace("d","z"))

30
14
DKDJROWDHCNKDSAFLXZLXZVJASADFA
dkdjrowdhcnkdsaflxzlxzvjasadfa
zkzjrowzhcnkzsaflxzlxzvjasazfa

In [124]:
b=" oae hangulun munzayuel insik mote? "
print(b.count("u"))
print(b.lstrip())
print(b.rstrip())
print(b.strip())
bb=b.split(" ")
print(b.split(" "))
print(type(bb))
print(len(bb))
print(",".join(bb))

4
oae hangulun munzayuel insik mote?
 oae hangulun munzayuel insik mote?
oae hangulun munzayuel insik mote?
['', 'oae', 'hangulun', 'munzayuel', 'insik', 'mote?', '']
<class 'list'>
7
,oae,hangulun,munzayuel,insik,mote?,

In [125]:
a=" 90:30:80 "

#code
math,english,science=a.strip().split(":")

average=(int(math)+int(english)+int(science))/3

print(average)
#code end

66.66666666666667

In [133]:
a=[10,20,30]
type(a)

list

In [129]:
tuple_a=(1,2,3,'a','b','c')
tuple_a

(1, 2, 3, 'a', 'b', 'c')

In [130]:
type(tuple_a)

tuple

In [134]:
a[0]=0
a

[0, 20, 30]

In [136]:
tuple_a[0]=5
tuple_a

TypeError: 'tuple' object does not support item assignment

In [144]:
dict_me={
    'name':'아아아',
    'height':120,
    'address':'부산'
}
dict_me

{'name': '아아아', 'height': 120, 'address': '부산'}

In [138]:
type(dict_me)

dict

In [139]:
dict_me['name']

'아아아'

In [143]:
dict_me['height']

120

In [152]:
a="hello world"
a[5::]

' world'

In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
a=list(range(5,0,-1))
print(a)

[5, 4, 3, 2, 1]

In [25]:
a=list(range(10))
a[2:7:2]

[2, 4, 6]

In [26]:
a[1:3]=[11,22]
a

[0, 11, 22, 3, 4, 5, 6, 7, 8, 9]

In [27]:
del a[2]
a

[0, 11, 3, 4, 5, 6, 7, 8, 9]

In [28]:
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [29]:
b=(1,2,3)
b*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [30]:
b=['d','e','f']

In [31]:
a+b

[1, 2, 3, 'd', 'e', 'f']

In [32]:
len(a+b)

6

In [35]:
'd' in b

True

In [36]:
1 in a+b

True

In [43]:
empty_list=[]
empty_list.append(1204)
print(empty_list)
empty_list.extend([4032,5968])
print(empty_list)
empty_list.insert(2,2222)
print(empty_list)
empty_list.pop(1)
print(empty_list)
empty_list.remove(2222)
print(empty_list)

[1204]
[1204, 4032, 5968]
[1204, 4032, 2222, 5968]
[1204, 2222, 5968]
[1204, 5968]

In [76]:
a=list(range(10))
b=list(range(5,0,-1))
d=[1,2,3]
c=a+b
print(a.index(3))
print(c.count(3))
c.reverse()
print(c)
c.sort()
print(c)
c.sort(reverse=True)
print(c)

3
2
[1, 2, 3, 4, 5, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 5, 4, 4, 3, 3, 2, 2, 1, 1, 0]

In [64]:
a=[1,2,3]
a.reverse()
a

[3, 2, 1]

In [73]:
a=[3,1,5,7,2,0,5]
a.sort(reverse=False)
a

[0, 1, 2, 3, 5, 5, 7]

In [77]:
list_a=[1,2,3,4]
list_b=list_a
list_b

[1, 2, 3, 4]

In [78]:
list_a is list_b

True

In [79]:
list_b[0]=1000
list_a

[1000, 2, 3, 4]

In [80]:
list_a=[1,2,3,4]
list_b=list_a.copy()
list_a is list_b

False

In [81]:
list_b[0]=10000
print(list_a)
print(list_b)

[1, 2, 3, 4]
[10000, 2, 3, 4]

In [83]:
a=[[1,1],[2,2],[3,3]]
a

[[1, 1], [2, 2], [3, 3]]

In [84]:
b=((1,1),(2,2),(3,3))
b

((1, 1), (2, 2), (3, 3))

In [92]:
c=a.copy()
a[0][0]=1000
print(a)
print(c)

[[1000, 2], [3, 4], [5, 6]]
[[1000, 2], [3, 4], [5, 6]]

In [93]:
import copy
a=[[1,2],[3,4],[5,6]]
b=copy.deepcopy(a)
b[0][0]=239494
print(a)
print(b)

[[1, 2], [3, 4], [5, 6]]
[[239494, 2], [3, 4], [5, 6]]

In [96]:
a=(1,2,3,4)
b=list(a)
b[0]=10
print(b)
print(a)

[10, 2, 3, 4]
(1, 2, 3, 4)

In [99]:
score=dict(name="aoao",math=20,english=999)
score["math"]

20

In [100]:
score=dict()
type(score)

dict

In [101]:
score={1:5,2:100,3:1000}
1 in score

True

In [102]:
100 in score

False

In [103]:
len(score)

3

In [104]:
score.setdefault(4,9999)

9999

In [105]:
score

{1: 5, 2: 100, 3: 1000, 4: 9999}

In [108]:
score.update({1:2929})
score

{1: 2929, 2: 100, 3: 1000, 4: 9999}

In [109]:
score.pop(1)
score

{2: 100, 3: 1000, 4: 9999}

In [111]:
score.pop(5,0)
score

{2: 100, 3: 1000, 4: 9999}

In [112]:
score.clear()
score

{}

In [114]:
score.update({1:1,2:2,3:3,4:4})
score

{1: 1, 2: 2, 3: 3, 4: 4}

In [116]:
score.update({1:2222,2:3333,3:4444,4:9282})
score

{1: 2222, 2: 3333, 3: 4444, 4: 9282}

In [118]:
score.keys()

dict_keys([1, 2, 3, 4])

In [119]:
score.values()

dict_values([2222, 3333, 4444, 9282])

In [120]:

score.items()

dict_items([(1, 2222), (2, 3333), (3, 4444), (4, 9282)])

In [121]:
a={1:2929,2:{22:2222,23:3333}}
a.keys()

dict_keys([1, 2])

In [122]:
a.values()

dict_values([2929, {22: 2222, 23: 3333}])

In [123]:
a[2][23]

3333

In [135]:
import copy
a={1:111,2:222}
b=a
b.setdefault(3,333)
print(a)
c=b.copy()
c.setdefault(4,{44:1144,45:4455})
print(b)
d=c.copy()
d.setdefault(5,{55:1155,56:5566})
print(c)
print(d)
e=copy.deepcopy(d)
f=d.copy()
d.setdefault(6,1)
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

{1: 111, 2: 222, 3: 333}
{1: 111, 2: 222, 3: 333}
{1: 111, 2: 222, 3: 333, 4: {44: 1144, 45: 4455}}
{1: 111, 2: 222, 3: 333, 4: {44: 1144, 45: 4455}, 5: {55: 1155, 56: 5566}}
{1: 111, 2: 222, 3: 333}
{1: 111, 2: 222, 3: 333}
{1: 111, 2: 222, 3: 333, 4: {44: 1144, 45: 4455}}
{1: 111, 2: 222, 3: 333, 4: {44: 1144, 45: 4455}, 5: {55: 1155, 56: 5566}, 6: 1}
{1: 111, 2: 222, 3: 333, 4: {44: 1144, 45: 4455}, 5: {55: 1155, 56: 5566}}
{1: 111, 2: 222, 3: 333, 4: {44: 1144, 45: 4455}, 5: {55: 1155, 56: 5566}}

In [2]:
animal={"dog","cat","monkey","horse"}
type(animal)

set

In [3]:
"cat" in animal

True

In [4]:
a=set("animal")
a

{'a', 'i', 'l', 'm', 'n'}

In [5]:
b=set(range(5))
b

{0, 1, 2, 3, 4}

In [7]:
a={1,2,3}
a|b

{0, 1, 2, 3, 4}

In [9]:
a={1,2,3}
b={3,4,5}
a|b

{1, 2, 3, 4, 5}

In [10]:
set.union(a|b)

{1, 2, 3, 4, 5}

In [11]:
a&b

{3}

In [12]:
set.intersection(a,b)

{3}

In [13]:
a-b

{1, 2}

In [14]:
set.difference(a,b)

{1, 2}

In [15]:
a^b

{1, 2, 4, 5}

In [16]:
set.symmetric_difference(a,b)

{1, 2, 4, 5}

In [17]:
a<={1,2,3,4,5}

True

In [18]:
a.issubset({1,2,3,4,5})

True

In [19]:
a<={1,2,3}

True

In [20]:
a.issubset({1,2,3})

True

In [21]:
a

{1, 2, 3}

In [22]:
a.issubset({3,4,5})

False

In [23]:
a>={1,2}

True

In [24]:
a.issuperset({1,2})

True

In [25]:
a>={1,2}

True

In [26]:
a>={1,2,3,4}

False

In [27]:
a.isdisjoint({5,6,7,8})

True

In [28]:
a.isdisjoint({2,7,8,9})

False

In [29]:
a.add(10)
a

{1, 2, 3, 10}

In [30]:
a.remove(1)
a

{2, 3, 10}

In [31]:
a.discard(10)
a

{2, 3}

In [32]:
multi='''hello
heehehehehe
hahahahah'''

In [33]:
multi

'hello\nheehehehehe\nhahahahah'

In [34]:
x=10
if x==10:
    print("x가 10 입니다")

x가 10 입니다

In [35]:
x=10
if x==10:
    pass

In [37]:
x=10
if x==10:
    print("10")
    print("!12")
print("10")

10
!12
10

In [41]:
if x>3:
    print("x>3")
    
if x>2 and x<10 :
    print("x>2, x<10")
    
if 0<x<20:
    print("0<x<20")

x>3
0<x<20

In [42]:
if x>=10:
    if x<=20:
        print("10<=x<=20")
    elif x<=30:
        print("20<x<=30")

10<=x<=20

In [44]:
if x=='A':
    print("x==A")
    
elif x=='B':
    print("x==B")

elif x=='C':
    print("X==C")
    
else:
    print("x !A,B,C")

x !A,B,C

In [55]:
num1=int(input("점수1 : "))
num2=int(input("점수2 : "))
num3=int(input("점수3 : "))
if 0>num1 or num1>100 or 0>num2 or num2>100 or 0>num3 or num3>100:
    print("잘못된 점수가 입력되었습니다.")
elif num1>65 and num2>65 and num3>65:
    print("합격")
else:
    print("불합격")

점수1 : 100
점수2 : 100
점수3 : 100
합격

In [51]:
my_tuple=(1,2,3,4,5)
type(my_tuple)

tuple

In [47]:
my_tuple=(1)
type(my_tuple)

int

In [56]:
my_tuple=(1,)
type(my_tuple)

tuple

In [58]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [59]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [60]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [61]:
a=[1,2,3,4,5,6,7]
for i in a:
    print(i)

1
2
3
4
5
6
7

In [63]:
for i in "Orange":
    print(i, end="")

Orange

In [64]:
a=[1,2,3,4,5,6,4,3,3,2,3,4,5,6,6,5,1,2,3,4,5,6,4,3,3,2,3,4,5,6,6,5,1,2,3,4,5,6,4,3,3,2,3,4,5,6,6,5,1,2,3,4,5,6,4,3,3,2,3,4,5,6,6,5]
print(a)

[1, 2, 3, 4, 5, 6, 4, 3, 3, 2, 3, 4, 5, 6, 6, 5, 1, 2, 3, 4, 5, 6, 4, 3, 3, 2, 3, 4, 5, 6, 6, 5, 1, 2, 3, 4, 5, 6, 4, 3, 3, 2, 3, 4, 5, 6, 6, 5, 1, 2, 3, 4, 5, 6, 4, 3, 3, 2, 3, 4, 5, 6, 6, 5]

In [65]:
a

[1,
 2,
 3,
 4,
 5,
 6,
 4,
 3,
 3,
 2,
 3,
 4,
 5,
 6,
 6,
 5,
 1,
 2,
 3,
 4,
 5,
 6,
 4,
 3,
 3,
 2,
 3,
 4,
 5,
 6,
 6,
 5,
 1,
 2,
 3,
 4,
 5,
 6,
 4,
 3,
 3,
 2,
 3,
 4,
 5,
 6,
 6,
 5,
 1,
 2,
 3,
 4,
 5,
 6,
 4,
 3,
 3,
 2,
 3,
 4,
 5,
 6,
 6,
 5]

In [66]:
from pprint import pprint
pprint(a)

[1,
 2,
 3,
 4,
 5,
 6,
 4,
 3,
 3,
 2,
 3,
 4,
 5,
 6,
 6,
 5,
 1,
 2,
 3,
 4,
 5,
 6,
 4,
 3,
 3,
 2,
 3,
 4,
 5,
 6,
 6,
 5,
 1,
 2,
 3,
 4,
 5,
 6,
 4,
 3,
 3,
 2,
 3,
 4,
 5,
 6,
 6,
 5,
 1,
 2,
 3,
 4,
 5,
 6,
 4,
 3,
 3,
 2,
 3,
 4,
 5,
 6,
 6,
 5]

In [75]:
a={
    "name":"TJ",
    "math":999,
    "english":10239
}
for i in a:
    print(i," ", end="")
    print(a[i])

name  TJ
math  999
english  10239

In [71]:
my_list = [1,2,3,4,5]
print(type(my_list))
my_tuple=tuple(my_list)
print(type(my_tuple))
print(type(tuple(my_list)))

<class 'list'>
<class 'tuple'>
<class 'tuple'>

In [72]:
count=int(input("숫자 입력: "))
for i in range(count):
    print("Hello",i)

숫자 입력: 3
Hello 0
Hello 1
Hello 2

In [77]:
a=['a','b','c','d','e']
for b,c in enumerate(a):
    print(b,c,sep=",")

0,a
1,b
2,c
3,d
4,e

In [85]:
x=[3,6,9,20,-7,5]
for i in range(0,len(x)):
    x[i]*=10
    print(x[i])
    
print(x)

30
60
90
200
-70
50
[30, 60, 90, 200, -70, 50]

In [92]:
y={
    "math":70,
    "science":80,
    "english":20
}

for i in y:
    y[i]+=10
    print(y[i])
    
print(y)

80
90
30
{'math': 80, 'science': 90, 'english': 30}

In [98]:
num=int(input("숫자?: "))

for i in range(1,10):
    print(f"{num} * {i} = {num*i}\n")

숫자?: 5
5 * 1 = 5

5 * 2 = 10

5 * 3 = 15

5 * 4 = 20

5 * 5 = 25

5 * 6 = 30

5 * 7 = 35

5 * 8 = 40

5 * 9 = 45

In [99]:
word=["school","game","piano","science","hotel","mountian"]
new_word=[]
for i in word:
    if(len(i)>=6):
        new_word.append(i)

print(new_word)

['school', 'science', 'mountian']

In [101]:
for i in range(1, 10):
    for j in range(1, 10):
        print(f"{i} * {j} = {i*j}")
        pass
    print("\n")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45


6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54


7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63


8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [102]:
m=set()
type(m)

set

In [103]:
m=dict()
type(m)

dict

In [104]:
m={}
type(m)

dict

In [106]:
num=int(input("숫자?: "))

for i in range(1, num+1):
    if(i % 3 == 0 and i % 5== 0):
        print(f"{i}, 3과 5의 공배수")
    
    elif(i % 3== 0):
        print(f"{i}, 3의 배수")
        
    elif(i % 5 == 0):
        print(f"{i}, 5의 배수")
        
    else :
        print(i)

숫자?: 20
1
2
3, 3의 배수
4
5, 5의 배수
6, 3의 배수
7
8
9, 3의 배수
10, 5의 배수
11
12, 3의 배수
13
14
15, 3과 5의 공배수
16
17
18, 3의 배수
19
20, 5의 배수

In [111]:
i=0
while i<10:
    print("현재값 : ",i)
    i+=1

현재값 :  0
현재값 :  1
현재값 :  2
현재값 :  3
현재값 :  4
현재값 :  5
현재값 :  6
현재값 :  7
현재값 :  8
현재값 :  9

In [112]:
count = int(input("반복횟수?: "))
i=0
while i<count:
    print("입력한 횟수만큼 반복")
    i+=1

반복횟수?: 3
입력한 횟수만큼 반복
입력한 횟수만큼 반복
입력한 횟수만큼 반복

In [113]:
i = 0
while i != 5:
    i=int(input("5를 입력하면 반복이 중단됩니다."))
    
print("중단!")

5를 입력하면 반복이 중단됩니다.3
5를 입력하면 반복이 중단됩니다.2
5를 입력하면 반복이 중단됩니다.3
5를 입력하면 반복이 중단됩니다.1
5를 입력하면 반복이 중단됩니다.2
5를 입력하면 반복이 중단됩니다.3
5를 입력하면 반복이 중단됩니다.55
5를 입력하면 반복이 중단됩니다.5
중단!

In [5]:
num=0
i=0
while i !='s' and i !='S' :
    i=input("값을 입력해주세요. ")
    if(i != 's' and i !='S'):
        num+=int(i)

print("합계는 ? ",num)

값을 입력해주세요. 11
값을 입력해주세요. 22
값을 입력해주세요. S
합계는 ?  33

In [8]:
import random
random.random()

0.5780861247849627

In [14]:
random.randint(1,3)

1

In [51]:
import random

#변수 선언
i=0
com_i=0
play_count=0
win_count=0
lose_count=0
draw_count=0

while i !=4 :
    com_i=random.randint(1,3) #컴퓨터 가위 바위 보 생성
    i=int(input("가위(1), 바위(2), 보(3)를 입력해주세요!: ")) #유저 가위 바위 보 입력
    
    #유저가 가위를 냈을 경우
    if i == 1:
        play_count+=1
        if(com_i == 1):
            print("유저 : 가위, 컴퓨터 : 가위")
            draw_count+=1
        elif(com_i == 2):
            print("유저 : 가위, 컴퓨터 : 바위")
            lose_count += 1
        elif(com_i == 3):
            print("유저 : 가위, 컴퓨터 : 보")
            win_count +=1
            
     #유저가 바위를 냈을 경우
    elif i == 2:
        play_count+=1
        if(com_i == 1):
            print("유저 : 바위, 컴퓨터 : 가위")
            win_count+=1
        elif(com_i == 2):
            print("유저 : 바위, 컴퓨터 : 바위")
            draw_count += 1
        elif(com_i == 3):
            print("유저 : 바위, 컴퓨터 : 보")
            lose_count +=1
            
    #유저가 보를 냈을 경우
    elif i == 3:
        play_count+=1
        if(com_i == 1):
            print("유저 : 보, 컴퓨터 : 가위")
            lose_count+=1
        elif(com_i == 2):
            print("유저 : 보, 컴퓨터 : 바위")
            win_count += 1
        elif(com_i == 3):
            print("유저 : 보, 컴퓨터 : 보")
            draw_count +=1

#결과 출력
print(f"게임종료(전체:{play_count}, 승리:{win_count}, 비김:{draw_count})")

가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3)를 입력해주세요!: 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3)를 입력해주세요!: 4
게임종료(전체:42, 승리:15, 비김:13)

In [53]:
a=int(input("점수1 : "))
b=int(input("점수2 : "))
c=int(input("점수3 : "))

if a not in range(0, 101) or b not in range(0, 101) or c not in range(0, 101):
    print("잘못된 점수가 입력되었습니다.")
    
elif a<65 or b<65 or c<65:
    print("불합격")
    
else:
    print("합격")

점수1 : 100
점수2 : 101
점수3 : 100
합격

In [28]:
a=int(input())
b=int(input())
c=int(input())

if(a and b and c) > 100:
    print("와!")

else:
    print("어?")

200
300
400
와!

In [47]:
a=int(input("정수를 입력해주세요: "))

#코드 작성
if a == 0 :
    print("0은 애매합니다.")

elif a % 2 == 0:
    if a % 10 == 0 or a % 10 == 6 or a % 10 == 8: #은, 는 구별
        print(f"입력하신 {a}은 짝수 입니다.")
    else:
        print(f"입력하신 {a}는 짝수 입니다.")

else:
    if a % 10 == 1 or a % 10 == 3 or a % 10 == 7: #은, 는 구별
        print(f"입력하신 {a}은 홀수 입니다.")
    else:
        print(f"입력하신 {a}는 홀수 입니다.")

정수를 입력해주세요: 2103
입력하신 2103은 홀수 입니다.

In [34]:
10 % 10

0

In [38]:
8 % 10

8

In [75]:
import random
 
#변수 생성
a=list()

#리스트 생성
for i in range(0,100):
    a.append(random.randint(1,300))
    
print(max(a))
print(min(a))

296
6

In [77]:
large=a[0]

for i in a:
    if i>large:
        large=i

print(large)

296

In [88]:
import random

#변수 생성
a=list()
sum=0

for i in range(0,100):
    a.append(random.randint(1,300))
    sum+=a[i]
    
print(sum)

15786

In [93]:
a=int(input("정수를 입력하세요 : "))

for i in range(a):
    print("안녕")

정수를 입력하세요 : 10
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕

In [90]:
a=[i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
a=[i+5 for i in range(10)]
a

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [92]:
a=[i*3 for i in range(10)]
a

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [98]:
a=''
for i in range(1,6):
    for j in range(i):
        a+='*'
    print(a)
    a=''

*
**
***
****
*****

In [99]:
a=[i for i in range(10) if i % 2 == 0]
a

[0, 2, 4, 6, 8]

In [100]:
a=[i for i in range(10) if i % 2 ==1]
a

[1, 3, 5, 7, 9]

In [101]:
c=[i * j for j in range(2,10) for i in range(1,10)]
c

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [109]:
star = "*"

num = int(input("입력하세요 숫자 : "))
for i in range(num,0,-1):
    print (star * i)

입력하세요 숫자 : 5
*****
****
***
**
*

In [110]:
x= [3,6,9,20,-7,5]

#코드 작성
for i in range(len(x)):
    x[i]*= 10
    print(x[i])
    
print(x)

30
60
90
200
-70
50
[30, 60, 90, 200, -70, 50]

In [108]:
keys=['name','age','address']
users = ['tom', '20', 'seoul']
dicdic={keys[i]:users[i] for i in range(0,3)}
dicdic

{'name': 'tom', 'age': '20', 'address': 'seoul'}

In [118]:
y={"math":70, "science":292, "english":999}

for i in y:
    y[i]+=10
    print(y[i])
    
print(y)

80
302
1009
{'math': 80, 'science': 302, 'english': 1009}

In [119]:
num = int(input("정수를 입력하세요 : "))

for i in range(1, 10):
    print(f"{num} * {i} = {num*i}")

정수를 입력하세요 : 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [124]:
keys=["name","age","address"]
values=["TJ","28","wonju"]

dicdic=dict(zip(keys,values))
print(dicdic)

dicdic=list(zip(keys,values))
print(dicdic)

print(dict(dicdic))

{'name': 'TJ', 'age': '28', 'address': 'wonju'}
[('name', 'TJ'), ('age', '28'), ('address', 'wonju')]
{'name': 'TJ', 'age': '28', 'address': 'wonju'}

In [125]:
word=["school", "game","piano","science","hotel","mountian"]

new_word=[i for i in word if len(i)>=6]
print(new_word)

['school', 'science', 'mountian']

In [128]:
word=["school", "game","piano","science","hotel","mountian"]

spell_count=[len(i) for i in word]
print(spell_count)

[6, 4, 5, 7, 5, 8]

In [133]:
from pprint import pprint
a=[[10,20],[30,40],[50,60]]
a[0].append(10)
a[1].append(50)
a[2].extend([1,2])
print(a)
pprint(a)

[[10, 20, 10], [30, 40, 50], [50, 60, 1, 2]]
[[10, 20, 10], [30, 40, 50], [50, 60, 1, 2]]

In [135]:
a=[[10,20],[20,30],[30,40]]
for x,y in a:
    print(x,y)

10 20
20 30
30 40

In [136]:
for i in a:
    for j in i:
        print(j, end=' ')
    print()

10 20
20 30
30 40

In [137]:
for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j], end=" ")
    print()

10 20
20 30
30 40

In [140]:
for idx, val in enumerate(a):
    print(type(idx))
    for idx2, val2 in enumerate(val):
        print(idx, idx2, val2)

<class 'int'>
0 0 10
0 1 20
<class 'int'>
1 0 20
1 1 30
<class 'int'>
2 0 30
2 1 40

In [139]:
i=0
while i<len(a):
    x,y = a[i]
    print(x,y)
    i+=1

10 20
20 30
30 40

In [146]:
b=[(0,2),(1,3),(2,4)]
x,y=b[0]
print(type(x))

<class 'int'>

In [158]:
#변수 생성
a=list()
b=list()
c=list()

#a 리스트 생성
for i in range(3):
    a.append(input(f"a 리스트 [{i}] 입력 (숫자 숫자) : ").split())

#b 리스트 생성
for i in range(3):
    b.append(input(f"b 리스트 [{i}] 입력 (숫자 숫자) : ").split())

#a,b 리스트 결합
for i in range(3):
    x1,y1 = a[i]
    x2,y2 = b[i]
    c.append([int(x1)*int(x2), int(y1)*int(y2)])
    

print(c)

a 리스트 [0] 입력 (숫자 숫자) : 1,2
a 리스트 [1] 입력 (숫자 숫자) : 3,4
a 리스트 [2] 입력 (숫자 숫자) : 5,6
b 리스트 [0] 입력 (숫자 숫자) : 1,2
b 리스트 [1] 입력 (숫자 숫자) : 3,4
b 리스트 [2] 입력 (숫자 숫자) : 5,6

ValueError: not enough values to unpack (expected 2, got 1)

In [157]:
a=[]
for i in range(3):
    line = []
    for j in range(2):
        line.append(0)
    a.append(line)
print(a)

[[0, 0], [0, 0], [0, 0]]

In [161]:
a=[]
n=1
for i in range(3):
    line = []
    for j in range(2):
        line.append(n)
        n+=1
    a.append(line)

print(a)

[[1, 2], [3, 4], [5, 6]]

In [162]:
for i in range(5):
    if(i==3):
        break
    print(i, end=" ")

0 1 2

In [163]:
for i in range(5):
    if(i==3):
        continue
    print(i, end=" ")

0 1 2 4

In [164]:
i=0
while i < 30:
    if i==20:
        break
    print(i, end=" ")
    i+=1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [165]:
i=0
while i < 30:
    i+=1
    if i % 2 == 0:
        continue
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [166]:
num=int(input("숫자를 입력하세요. : "))

for i in range(num):
    if i % 2 == 1:
        continue
    print(i, end=" ")

숫자를 입력하세요. : 10
0 2 4 6 8

In [171]:
a=list(range(0,9))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [172]:
print("출력할 문자를 입력하세요.")
print("hello","world", "%s"%"내이름",sep="-")

출력할 문자를 입력하세요.
hello-world-내이름

In [173]:
file = open("file2.txt","w")
file.write("First File \n")
file.write("Second Line")
file.close()

In [174]:
file = open("file.txt","w")
file.write("First File \n")
file.write("Second Line")
file.close()

In [175]:
file=open("file.txt","r")
text = file.read()
print(text)
file.close()

First File
Second Line

In [176]:
with open("file.txt","r") as file:
    text = file.read()
    print(text)

First File
Second Line

In [184]:
with open("file.txt","r") as file:
    line=file.readline()
    while line:
        print(line)
        line=file.readline()

First File

Second Line

In [185]:
with open("file.txt","r") as file:

    lines=file.readlines()
    print(lines)

['First File \n', 'Second Line']

In [186]:
with open("file.txt","r") as file:
    
    text=file.readlines()
    
    with open("file3.txt","w") as file:
        file.writelines(text)

In [188]:
word=["school","game","piano","science","hotel","mountian"]
new_word=[]

for i in word:
    if(len(i)>=6):
        new_word.append(i)

print(new_word)

['school', 'science', 'mountian']

In [38]:
#변수 선언
i=0
first_i=1
last_i=0

#숫자 입력
num=int(input("정수를 입력하세요 : "))

#행 수 최대치 보정
if num >=10 :
    num = 9

while i<9: #전체 행 만들기
    
    #행 수 보정
    if i+num > 9 :
        num=9-i
    
    #반복 횟수 갱신
    i+=num
 
    #숫자 리스트 중 마지막 숫자 갱신 및 보정
    last_i=i
    if last_i>9 :
        last_i=9
        
    count=list(range(first_i,last_i+1)) #구구단 행 숫자 리스트 만들기

        
    #구구단 프린트
    for k in range(1,10):
        for l in range(num):
            print(f"%d * %d = %d"%(count[l], k, count[l]*k),end="\t")
            pass
        print()
        pass
    print("----------------"*num)
    
    #구구단 행 숫자 리스트 초기화
    count.clear()
    
    #숫자 리스트 중 첫 숫자 갱신 및 보정
    first_i +=num
    if(first_i>9):
        first_i=9
        
    pass

정수를 입력하세요 : 8
1 * 1 = 1	2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8
1 * 2 = 2	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16
1 * 3 = 3	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24
1 * 4 = 4	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32
1 * 5 = 5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40
1 * 6 = 6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48
1 * 7 = 7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56
1 * 8 = 8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64
1 * 9 = 9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72
--------------------------------------------------------------------------------------------------------------------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------------

In [45]:
num=int(input("숫자를 입력 하세요 : "))

for i in range(1,num+1):
    if i % 3 == 0 and i %  5== 0:
        print(i, '3과 5의 공배수')
    elif i % 3 == 0:
        print(i, '3의 배수')
    elif i % 5 == 0:
        print(i, '5의 배수')
    else:
        print(i)

숫자를 입력 하세요 : 20
1
2
3 3의 배수
4
5 5의 배수
6 3의 배수
7
8
9 3의 배수
10 5의 배수
11
12 3의 배수
13
14
15 3과 5의 공배수
16
17
18 3의 배수
19
20 5의 배수

In [2]:
text= ["First File\n", "Second Line"]

with open("file.txt","w") as f:
    f.writelines(text)

In [3]:
!type file.txt

First File
Second Line

In [5]:
with open("file.txt","r") as f:
    lines=f.readlines()
    print(lines)

['First File\n', 'Second Line']

In [12]:
with open("vocaline.txt", "r") as f:
    line = f.readlines()
    for voca in line:
        if len(voca)>5:
            print(voca, end="")

information
fantastic
activity
homeroom
importance
gossip
dictionary
artist
grade
useful
allow
website
communicate

In [26]:
#유저 DB 생성

user_name=input("이름을 입력하세요 : ")

invest_name = 0 #변수 초기화
user_nameDB=""
user_name_list=list()

with open("rsp/user/userDB.txt", "r") as f: #DB 중복 검증
        user_nameDB=f.readline()
        user_name_list=user_nameDB.split(',')
        for name in user_name_list:
            if name == user_name:
                invest_name = 1
            
        
    
if invest_name == 1:
    print("이미 존재하는 유저 입니다. 게임을 시작합니다.")
        
else:
    with open("rsp/user/userDB.txt", "w") as f: #DB 추가
        user_nameDB+=","+user_name
        f.write(user_nameDB)
            
    
    with open(f"rsp/user/{user_name}.txt","w") as f: #유저 전용 txt 생성
        for i in range(3):
            f.write('0\n')
            
    print("계정을 생성하였습니다. 게임을 시작합니다.")
#DB 생성 종료

#게임 시작

import random

count=list() #변수 초기화
num=1
word=["가위","바위","보"]

with open(f"rsp/user/{user_name}.txt","r") as f:
    for i in f:
        count.append(int(i))
        
print(f"현재까지 결과는 (전체 : {count[0]+count[1]+count[2]}, 승리:{count[0]}, 비김:{count[1]}, 패배:{count[2]}) 입니다.")


while num !=4:
    com_num = random.randint(1,3)
    num=int(input("가위(1) 바위(2) 보(3) 입력 : "))
    
    if num !=4:
        print(f"유저 : {word[num-1]}, 컴퓨터 : {word[com_num-1]} ")
        
    #유저가 가위
    if(num==1):
        if(com_num == 1):
            count[1] +=1
        elif(com_num == 2):
            count[2] +=1
        elif(com_num == 3):
            count[0] +=1
    #유저가 바위
    elif(num==2):
        if(com_num == 1):
            count[0] +=1
        elif(com_num == 2):
            count[1] +=1
        elif(com_num == 3):
            count[2] +=1
    #유저가 보
    elif(num==3):
        if(com_num == 1):
            count[2] +=1
        elif(com_num == 2):
            count[0] +=1
        elif(com_num == 3):
            count[1] +=1
    
print(f"게임 종료 (전체 : {count[0]+count[1]+count[2]}, 승리:{count[0]}, 비김:{count[1]}, 패배:{count[2]})")

with open(f"rsp/user/{user_name}.txt","w") as f:
    for i in count:
        f.write(str(i)+"\n")

이름을 입력하세요 : 이동재
이미 존재하는 유저 입니다. 게임을 시작합니다.
현재까지 결과는 (전체 : 6, 승리:3, 비김:1, 패배:2) 입니다.
가위(1) 바위(2) 보(3) 입력 : 1
유저 : 가위, 컴퓨터 : 보
가위(1) 바위(2) 보(3) 입력 : 2
유저 : 바위, 컴퓨터 : 보
가위(1) 바위(2) 보(3) 입력 : 3
유저 : 보, 컴퓨터 : 보
가위(1) 바위(2) 보(3) 입력 : 4
게임 종료 (전체 : 9, 승리:4, 비김:2, 패배:3)

# 연습문제 5

In [9]:
sum=0

while True:
    num=input("값을 입력해 주세요 : ")
    if num == 's' or num == 'S' :
        break
    sum+=int(num)

print(f"합계는 ? {sum}")

값을 입력해 주세요 : 20
값을 입력해 주세요 : 30
값을 입력해 주세요 : 50
값을 입력해 주세요 : 20
값을 입력해 주세요 : 10
값을 입력해 주세요 : 20
값을 입력해 주세요 : 30
값을 입력해 주세요 : 0
값을 입력해 주세요 : 40
값을 입력해 주세요 : 20
값을 입력해 주세요 : 30
값을 입력해 주세요 : 10
값을 입력해 주세요 : 20
값을 입력해 주세요 : s
합계는 ? 300

# 연습문제 5 끝

# 연습문제 6

In [2]:
import random

num=1
win_count = 0
lose_count= 0
draw_count = 0
word=["가위","바위","보"]

while num !=4:
    com_num = random.randint(1,3)
    num=int(input("가위(1) 바위(2) 보(3) 입력 : "))
    
    if num !=4:
        print(f"유저 : {word[num-1]}, 컴퓨터 : {word[com_num-1]} ")
        
    #유저가 가위
    if(num==1):
        if(com_num == 1):
            draw_count +=1
        elif(com_num == 2):
            lose_count +=1
        elif(com_num == 3):
            win_count +=1
    #유저가 바위
    elif(num==2):
        if(com_num == 1):
            win_count +=1
        elif(com_num == 2):
            draw_count +=1
        elif(com_num == 3):
            lose_count +=1
    #유저가 보
    elif(num==3):
        if(com_num == 1):
            lose_count +=1
        elif(com_num == 2):
            win_count +=1
        elif(com_num == 3):
            draw_count +=1
    
print(f"게임 종료 (전체:{win_count+lose_count+draw_count}, 승리:{win_count}, 비김:{draw_count}, 패배:{lose_count})")

가위(1) 바위(2) 보(3) 입력 : 1
유저 : 가위, 컴퓨터 : 보
가위(1) 바위(2) 보(3) 입력 : 2
유저 : 바위, 컴퓨터 : 보
가위(1) 바위(2) 보(3) 입력 : 3
유저 : 보, 컴퓨터 : 보
가위(1) 바위(2) 보(3) 입력 : 1
유저 : 가위, 컴퓨터 : 가위
가위(1) 바위(2) 보(3) 입력 : 2
유저 : 바위, 컴퓨터 : 바위
가위(1) 바위(2) 보(3) 입력 : 3
유저 : 보, 컴퓨터 : 가위
가위(1) 바위(2) 보(3) 입력 : 4
게임 종료 (전체:6, 승리:1, 비김:3, 패배:2)

# 연습문제 6 끝

In [3]:
i=1

while i in [1,2,3]:
    print (i)
    i+=1

1
2
3

# 연습문제 7

In [18]:
import random

rand_list=list()
sum = 0

for i in range(100):
    rand_list.append(random.randint(1,1000))
    sum+=rand_list[i]

rand_list.sort(reverse=True)
print(rand_list[0], sum)

988 49604

# 연습문제 7 끝

In [14]:
with open("test.txt","w") as f:
    for i in range(3):
        f.write('0\n')

In [15]:
!type test.txt

0
0
0

# 연습문제 8

In [27]:
word=["school", "game", "piano", "science","hotel","mountian"]
new_word=[i for i in word if len(i)>=6]
print(new_word)

['school', 'science', 'mountian']

In [28]:
word=["school", "game", "piano", "science","hotel","mountian"]
word_count=[len(i) for i in word]
print(word_count)

[6, 4, 5, 7, 5, 8]

# 연습문제 8 끝

# 연습문제 9

In [39]:
a=list()
b=list()
c=list()

for i in range(3):
    a.append(input(f"a 리스트 {i}번째 (숫자 숫자) : ").split())
      
for i in range(3):
    b.append(input(f"b 리스트 {i}번째 (숫자 숫자) : ").split())

for i in range(3):
    x1,y1=a[i]
    x2,y2=b[i]
    c.append([int(x1)*int(x2),int(y1)*int(y2)])

print(c)

a 리스트 0번째 (숫자 숫자) : 10 20
a 리스트 1번째 (숫자 숫자) : 30 40
a 리스트 2번째 (숫자 숫자) : 50 60
b 리스트 0번째 (숫자 숫자) : 1 2
b 리스트 1번째 (숫자 숫자) : 3 4
b 리스트 2번째 (숫자 숫자) : 5 6
[[10, 40], [90, 160], [250, 360]]

# 연습문제 10

In [40]:
a=[]
for i in range(3):
    line = []
    for j in range(2):
        line.append((j+1)+(i*2))
    a.append(line)
print(a)

[[1, 2], [3, 4], [5, 6]]

# List Comprehension(중첩 리스트)

In [48]:
a=list()
b=list()
c=list()

for i in range(3):
    a.append(input(f"a 리스트 {i}번째 (숫자 숫자) : ").split())
      
for i in range(3):
    b.append(input(f"b 리스트 {i}번째 (숫자 숫자) : ").split())
    
c=[[int(a[i][j])*int(b[i][j]) for j in range(len(a[0]))] for i in range(len(a))]

print(c)

a 리스트 0번째 (숫자 숫자) : 20 20
a 리스트 1번째 (숫자 숫자) : 30 30
a 리스트 2번째 (숫자 숫자) : 40 40
b 리스트 0번째 (숫자 숫자) : 1 2
b 리스트 1번째 (숫자 숫자) : 2 3
b 리스트 2번째 (숫자 숫자) : 3 4
[[20, 40], [60, 90], [120, 160]]

In [49]:
def func(a,b):
    print("함수입니다.")
    return a+b

func_test=func(1,2)
print(func_test)

함수입니다.
3

In [50]:
def func():
    print("Hello, Function")

In [51]:
func()

Hello, Function

In [52]:
def func(name):
    print("Hello, "+ name)

In [53]:
func("world")

Hello, world

In [55]:
def func(a,b):
    return a+b

In [56]:
func(2,3)

5

In [57]:
def func(a,b):
    return a+b, a-b

In [58]:
type(func(2,3))

tuple

In [59]:
a=5

def func1():
    a=1
    print(a)
    
func1()
print(a)

1
5

In [60]:
def func2():
    print(a)
    
func2()

5

In [61]:
def func3():
    global a
    a=1
    print(a)
    
func3()
print(a)

1
1

In [75]:
#사칙연산 함수
def calc(num1,num2):
    #사칙연산 계산, 출력
    print(num1+num2,num1-num2,num1*num2,float(num1/num2))
    
#값 받기
num1=int(input("숫자 1: "))
num2=int(input("숫자 2: "))

calc(num1, num2)

숫자 1: 50
숫자 2: 20
70 30 1000 2.5

# 연습문제 11

In [64]:
num=int(input("숫자 입력 : "))
i=0
while True:
    if(num == i):
        break
    
    print("hi")
    i+=1

숫자 입력 : 10
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [66]:
num=int(input("숫자 입력 : "))

for i in range(1,num+1):
    if i%2==1:
        continue
    print(i)

숫자 입력 : 50
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [72]:
def allindex(lis, num):
    
    count=0
    
    for i in lis:
        if i==num:
            return_list.append(count)
            
        count+=1;
    
    return return_list
        
lis=[1,2,3,4,1,2,1]
return_list=list()

print(allindex(lis,1))

[0, 4, 6]

In [76]:
(lambda x:x**2)(3)

9

In [78]:
temp_func=lambda x,y:x*y

temp_func(3,9)

27

In [79]:
def func(a,b,c):
    print(a,b,c)

x=[1,2,3]
func(*x)

1 2 3

In [80]:
def func(*args):
    for arg in args:
        print(arg)
        
func(1)
func(1,2,3,4,5)

1
1
2
3
4
5

In [81]:
def func(a, *args):
    print(a)
    for arg in args:
        print(arg, end="")

func(100,1,2,3,4,5,6,7)

100
1234567

In [82]:
def func(email, name):
    print("이메일 : ",email)
    print("이름 : ",name)
    
func(email="aa@aa.com", name="tom")
x={"email":"aa@aa.com","name":"tom"}
func(**x)

이메일 :  aa@aa.com
이름 :  tom
이메일 :  aa@aa.com
이름 :  tom

In [86]:
with open("fff.txt","w") as f:
    f.write("hello world")

In [88]:
with open("fff.txt","r+") as f:
    print(f.read())
    f.write("hi")
    print(f.read())

hello world

In [98]:
def func(email, name, age=20):
    print("이메일 : ", email)
    print("이름 : ", name)
    print("나이 : ", age)
    
func(email="aa.com", name="tom")
func(email="aa@com", name="tom", age=22)

이메일 :  aa.com
이름 :  tom
나이 :  20
이메일 :  aa@com
이름 :  tom
나이 :  22

In [103]:
def calc(calc_sign, *args):
    result=0
    #더하기
    if calc_sign == "+":
        for arg in args:
            result+=arg
    #빼기
    if calc_sign == "-":
        for arg_idx, arg_val in enumerate(args):
            if arg_idx==0: #첫번째 데이터 처리
                result=arg_val
                continue
            result-=arg_val
    #곱하기
    if calc_sign == "*":
        for arg_idx, arg_val in enumerate(args):
            if arg_idx==0: #첫번째 데이터 처리
                result=arg_val
                continue
            result*=arg_val
    
    return result

print(calc("*",2,2,2,2,2,2,2,2,2,2))

1024

# 객체와 클래스

In [7]:
class Dog:
    def __init__(self, name, color):
        self.__hungry=0
        self.name=name
        self.color=color
    
    def eat(self):
        self.__hungry -=10
        print("밥먹음", self.__hungry)
    
    def walk(self):
        self.__hungry += 10
        print("산책", self.__hungry)

In [8]:
choco = Dog("choco","black")
jjong = Dog("jjong","white")

In [11]:
choco.eat()
choco.eat()
choco.walk()

밥먹음 -30
밥먹음 -40
산책 -30

AttributeError: 'Dog' object has no attribute '__hungry'

In [10]:
class Car(object):
    total_num = 0
    
    def __init__(self, model, engine_rank):
        self.model = model
        self.engine_rank = engine_rank
        self.__speed = 0
        self.maxSpeed = 1000
        
    def accelerate(self):
        self.__speed+=10
        return True
    
    def push_break(self):
        self.__speed -=10
        return True

In [62]:
class BMWCar(Car):
    pass

In [63]:
my_car = Car("Toyota", 'A')

In [65]:
my_car.__speed

AttributeError: 'Car' object has no attribute '__speed'

In [50]:
my_car.accelerate()

True

In [51]:
my_car.model

'Toyota'

In [52]:
my_car.engine_rank

'A'

In [53]:
my_car.speed

10

In [54]:
new_car=BMWCar("BMW","S")
type(new_car)

__main__.BMWCar

In [56]:
new_car.speed

0

In [57]:
new_car.accelerate()

True

In [58]:
new_car.speed

10

In [60]:
1+1

2

In [68]:
!pip install jupyterthemes

Collecting jupyterthemes
  Downloading https://files.pythonhosted.org/packages/8a/08/9dee6dfd7f2aad6c30282d55c8f495b4dc1e4747b4e2bdbeb80572ddf312/jupyterthemes-0.20.0-py2.py3-none-any.whl (7.0MB)
Requirement already satisfied: ipython>=5.4.1 in c:\users\tjlee\anaconda3\lib\site-packages (from jupyterthemes) (6.5.0)
Requirement already satisfied: notebook>=5.6.0 in c:\users\tjlee\anaconda3\lib\site-packages (from jupyterthemes) (5.6.0)
Requirement already satisfied: jupyter-core in c:\users\tjlee\anaconda3\lib\site-packages (from jupyterthemes) (4.4.0)
Requirement already satisfied: matplotlib>=1.4.3 in c:\users\tjlee\anaconda3\lib\site-packages (from jupyterthemes) (2.2.3)
Collecting lesscpy>=0.11.2 (from jupyterthemes)
  Downloading https://files.pythonhosted.org/packages/10/d0/fdd9874972e07ae8727a3d26b433891d8605b96999ea99bbf506e756a7b1/lesscpy-0.13.0-py2.py3-none-any.whl (48kB)
Requirement already satisfied: traitlets>=4.2 in c:\users\tjlee\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (4.3.2)
Requirement already satisfied: jedi>=0.10 in c:\users\tjlee\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.12.1)
Requirement already satisfied: pickleshare in c:\users\tjlee\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.7.4)
Requirement already satisfied: simplegeneric>0.8 in c:\users\tjlee\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.8.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\tjlee\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (39.1.0)
Requirement already satisfied: pygments in c:\users\tjlee\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (2.2.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\tjlee\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.3.9)
Requirement already satisfied: decorator in c:\users\tjlee\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (4.3.0)
Requirement already satisfied: backcall in c:\users\tjlee\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.1.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.15 in c:\users\tjlee\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (1.0.15)
Requirement already satisfied: ipython-genutils in c:\users\tjlee\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.2.0)
Requirement already satisfied: nbformat in c:\users\tjlee\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (4.4.0)
Requirement already satisfied: ipykernel in c:\users\tjlee\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (4.8.2)
Requirement already satisfied: prometheus-client in c:\users\tjlee\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.3.1)
Requirement already satisfied: jupyter-client>=5.2.0 in c:\users\tjlee\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (5.2.3)
Requirement already satisfied: nbconvert in c:\users\tjlee\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (5.3.1)
Requirement already satisfied: Send2Trash in c:\users\tjlee\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (1.5.0)
Requirement already satisfied: tornado>=4 in c:\users\tjlee\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (5.1)
Requirement already satisfied: pyzmq>=17 in c:\users\tjlee\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (17.1.2)
Requirement already satisfied: jinja2 in c:\users\tjlee\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (2.10)
Requirement already satisfied: terminado>=0.8.1 in c:\users\tjlee\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.8.1)
Requirement already satisfied: numpy>=1.7.1 in c:\users\tjlee\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.14.5)
Requirement already satisfied: cycler>=0.10 in c:\users\tjlee\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\tjlee\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\tjlee\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.7.3)
Requirement already satisfied: pytz in c:\users\tjlee\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (2018.5)
Requirement already satisfied: six>=1.10 in c:\users\tjlee\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\tjlee\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.0.1)
Requirement already satisfied: ply in c:\users\tjlee\anaconda3\lib\site-packages (from lesscpy>=0.11.2->jupyterthemes) (3.11)
Requirement already satisfied: parso>=0.3.0 in c:\users\tjlee\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.4.1->jupyterthemes) (0.3.1)
Requirement already satisfied: wcwidth in c:\users\tjlee\anaconda3\lib\site-packages (from prompt-toolkit<2.0.0,>=1.0.15->ipython>=5.4.1->jupyterthemes) (0.1.7)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\tjlee\anaconda3\lib\site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (2.6.0)
Requirement already satisfied: mistune>=0.7.4 in c:\users\tjlee\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.8.3)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\tjlee\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.2.3)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\tjlee\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (1.4.2)
Requirement already satisfied: bleach in c:\users\tjlee\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (2.1.3)
Requirement already satisfied: testpath in c:\users\tjlee\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.3.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\tjlee\anaconda3\lib\site-packages (from jinja2->notebook>=5.6.0->jupyterthemes) (1.0)
Requirement already satisfied: html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre in c:\users\tjlee\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=5.6.0->jupyterthemes) (1.0.1)
Requirement already satisfied: webencodings in c:\users\tjlee\anaconda3\lib\site-packages (from html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre->bleach->nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.1)
Installing collected packages: lesscpy, jupyterthemes
Successfully installed jupyterthemes-0.20.0 lesscpy-0.13.0

You are using pip version 18.0, however version 19.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [7]:
so_car=Car("Toyota","B")

In [11]:
Car.total_num

0

In [58]:
class Car(object):
    total_num = 0
    
    @staticmethod
    def call_119():
        return "119"
    
    @classmethod
    def get_total_car(cls):
        return cls.total_num
    
    def __init__(self, model, engine_rank):
        self.model = model
        self.engine_rank = engine_rank
        self.speed = 0
        self.maxSpeed = 1000
        
        Car.total_num +=1
        
    def accelerate(self):
        self.speed+=10
        return True
    
    def push_break(self):
        self.speed -=10
        return True

In [59]:
car1=Car("1","2")
car2=Car("1","2")
car3=Car("1","2")

In [60]:
Car.total_num

3

In [61]:
Car.call_119()

'119'

In [62]:
car1.call_119()

'119'

In [65]:
Car.get_total_car()

3

In [51]:
class BMWCar(Car):
    def accelerate(self):
        self.speed+=100
        
        super().accelerate()

In [52]:
wcar=BMWCar("hello","world")

In [53]:
wcar.accelerate()

In [54]:
wcar.speed

110